---
import Header from "../components/layout/Header.astro";
import Footer from "../components/footer/Footer.astro";
import EventModal from "../components/EventModal.astro";
import "../styles/global.scss";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Masjid Al-Fatimah - Shia Islamic Center",
  description = "Welcome to Masjid Al-Fatimah, a Islamic center serving our community with religious events, and educational programs.",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <EventModal />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
